*.iml
local.properties
.gradle
.idea
base/build
base/out
robolectric/build
library/build
application/build
jacoco/build
lint/build
build/
bintray.properties
Rakefile
*.DS_Store
mobile-cd
project.properties
test-project.properties
*.log## Ignoring Release Process Client
rp## Ignoring Release Process Client
rp
