repos:
  - repo: git@github.com:mercadolibre/fury_websec-git-hooks.git
    rev: v1.0.1
    hooks:
      - id: pre_commit_hook
        stages: [commit]
      - id: post_commit_hook
        stages: [post-commit]
