default: &defaultJob
  docker:
    - image: circleci/node:latest
  resource_class: small
  steps:
    - checkout
    - run:
        name: "Install linter"
        command: sudo npm install jsonlint -g
    - run:
        name: "Run linter"
        command: jsonlint $FILE
    - run:
        name: "Install JSON sorter"
        command: sudo npm install json-sort-cli@1.14.1 -g
    - run:
        name: "Run JSON sorter lint"
        command: | 
          jsonsort $FILE
          if [[ $(git ls-files -m | wc -l | xargs) != 0 ]]; then exit 1; else exit 0; fi

version: 2
jobs:
  android:
    <<: *defaultJob
    environment:
      FILE: "android-whitelist.json"
  ios:
    <<: *defaultJob
    environment:
      FILE: "ios-whitelist.json"
  notify:
    docker:
      - image: circleci/ruby:latest
    resource_class: small
    steps:
      - checkout
      - run:
          name: Run Notification Script
          command: ./scripts/notification.sh
  clean:
    docker:
      - image: circleci/ruby:latest
    resource_class: small
    steps:
      - checkout
      - run:
          name: Run Clean Script
          command: ./scripts/clean_whitelists.sh

workflows:
  version: 2
  build_and_test:
    jobs:
      - android
      - ios
      - clean
  weekly:
    triggers:
      - schedule:
          #cron: "0 8 * * 1" # on mondays at 8:00
          cron: "0 8 * * 1-5 " # “At 08:00 on every day-of-week from Monday through Friday.”
          filters:
            branches:
              only:
                - master
    jobs:
      - notify