default: &defaultJob
  docker:
    - image: circleci/node:latest
  resource_class: small
  steps:
    - checkout
    - run:
        name: "Install linter"
        command: sudo npm install jsonlint -g
    - run:
        name: "Install JSON sorter"
        command: sudo npm install json-sort-cli@1.14.1 -g
    - run:
        name: "Run Checks"
        command: ./scripts/checks.sh

version: 2
jobs:
  android:
    <<: *defaultJob
    environment:
      FILE: "android-whitelist.json"
  ios:
    <<: *defaultJob
    environment:
      FILE: "ios-whitelist.json"
  notify:
    docker:
      - image: circleci/ruby:latest
    resource_class: small
    steps:
      - checkout
      - run:
          name: Run Notification Script
          command: ./scripts/notification.sh
  clean:
    docker:
      - image: circleci/ruby:latest
    resource_class: small
    steps:
      - checkout
      - run:
          name: Run Clean Script
          command: ./scripts/clean_whitelists.sh

workflows:
  version: 2
  build_and_test:
    jobs:
      - android
      - ios
  weekly:
    triggers:
      - schedule:
          cron: "0 8 * * 1" # on mondays at 8:00
          filters:
            branches:
              only:
                - master
    jobs:
      - notify
      - clean