default: &defaultJob
  docker:
    - image: circleci/node:latest
  resource_class: small
  steps:
    - checkout
    - run:
        name: "Install linter"
        command: sudo npm install jsonlint -g
    - run:
        name: "Run linter"
        command: jsonlint $FILE
    - run:
        name: "Install JSON sorter"
        command: sudo npm install sort-json -g
    - run:
        name: "Run JSON sorter lint"
        command: | 
          sort-json $FILE
          if [[ `git ls-files -m | wc -l | xargs` != 0 ]]; then exit 1; fi
version: 2
jobs:
  android:
    <<: *defaultJob
    environment:
      FILE: "android-whitelist.json"
  ios:
    <<: *defaultJob
    environment:
      FILE: "ios-whitelist.json"
workflows:
  version: 2
  build_and_test:
    jobs:
      - android
      - ios
